@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  padding-left: auto;
  padding-right: auto;

}

#root {
  font-family: 'Avenir';
}

#paintings-index {
  margin-top: 20px;
  margin-bottom: 20px;
}

#paintings-index .card-body-custom {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 0;
}

#paintings-index .card-body-custom .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#paintings-index .card-body-custom .image-container .card-image {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

#paintings-index h1 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 0px;
}

#paintings-index .card-title {
  height: 2.0em;
  font-size: 10px;
  margin-top: 7px;
  padding-top: 5px;
  margin-bottom: 25px;
}

#paintings-index .card-artist {
  height: 2.5em;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 15px;
  font-size: 10px;
}

#paintings-index .shop-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 500;
  border: 1px solid black;
  padding: 10px 10px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  width: 200px;
  margin: auto;
  display: block;
}

#paintings-index .shop-button:hover {
  background-color: #5C8F8E;
  color: white;
}

#all-paintings h1 {
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 12px;
  text-decoration-color: #5C8F8E
}

#all-paintings .details-button {
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight: 500;
  border: 1px solid black;
  padding: 10px 10px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  width: 200px;
  position: relative;
  margin-left: -8.5px;
}

#all-paintings .details-button:hover {
  background-color: #5C8F8E;
  color: white;
}

#all-paintings .image-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

#all-paintings .image-container:hover .overlay {
  opacity: 1;
}

#all-paintings .image-container .text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#all-paintings .card-body-custom {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 0;
}

#all-paintings .card-body-custom .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#all-paintings .card-body-custom .image-container .card-image {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

#all-paintings .card-title {
  height: 2.0em;
  font-size: 10px;
  margin-top: 7px;
  padding-top: 5px;
  margin-bottom: 25px;
}

#all-paintings .card-artist {
  height: 2.5em;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 15px;
  font-size: 10px;
}

.mt-4 {
  padding-top: 7px;
}

#paintings-index .card {
  height: 100%;
}

.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.custom-card .card-body-custom {
  flex-grow: 1;
}


.nav-bg {
  background-color: rgba(239, 239, 239);
  border-radius: 5px;
  width: 100%;
  height: 65px;
  opacity: 100%;
  align-items: center;
}

.footer-bg {
  background-color: rgba(239, 239, 239);
  border-radius: 5px;
  width: 100%;
  height: 65px;
  opacity: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-item:hover>div {
  text-decoration-color: #5C8F8E;
  text-decoration-line: underline;
  text-decoration-thickness: 6px;
  text-underline-offset: 10px;
}

.hover-item:hover>span {
  text-decoration-color: #5C8F8E;
  text-decoration-line: underline;
  text-decoration-thickness: 6px;
  text-underline-offset: 10px;
}

.featured-movements-dropdown.w-48 {
  text-align: center;
}


.Chat {
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: #f2f2f2;
  border-radius: 20px;
  border: 2px solid #f2f2f2;
}

.ChatContainer {
  background-color: #ffffff;
}

.Message {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.MessageInput .inputArea {
  background-color: #ffffff !important;
  /* Add !important */
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.footer {
  margin-top: 30px;
  font-size: 13px;
}

.message-list {
  max-height: 500px;
  overflow-y: auto;
}

.map-container {
  margin-top: 22px;
  margin-bottom: 22px;
  padding-bottom: 15px;
  border-radius: 5px;
  width: 100%;
  height: 75vh;
}

#paintings-index .image-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

#paintings-index .image-container:hover .overlay {
  opacity: 1;
}

#paintings-index .image-container .text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.category-name {
  font-size: 37px;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 5px;
  font-weight: bold;
}

.hero-container {
  opacity: 100%;
  margin: 15px auto;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container img {
  border-radius: 5px;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 47px;
  text-align: center;
}

/* Sign Up Form CSS*/

/*Inputs box*/
.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  padding: 8px 15px;
}

.form-box {
  border: 1px solid #5C8F8E;
}

.form-section {
  padding: 16px;
  font-size: 0.85rem;
  font-weight: 400;
  background-color: #efefef;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.form-section a {
  font-weight: bold;
  color: #000000;
  transition: color 0.3s ease;
}

.form-section a:hover {
  text-decoration-color: #5C8F8E;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

/*Buttons*/
.form button {
  background-color: #5C8F8E;
  color: #fff;
  border: 0;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #4a7473;
}

.signup-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 65px);
  margin-top: -100px;

}

.login-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: -250px;
}

.relative.ml-3 {
  padding: 0 30px;
}

.relative.ml-3:hover {
background-color: #5C8F8E;
color:#ffffff;

border-radius: 5px;
}

li {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

li a {
  position: relative;
  left: 0;
}

.all-paintings-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 500;
  border: 1px solid black;
  padding: 10px 10px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  width: 142px;
  position: relative;
  margin-left: -8.5px;
  }

  .all-paintings-button:hover {
    background-color: #5C8F8E;
    color: white;
  }

.items-center.h-6.w-6 {
      color: #5C8F8E;
}

.all-categories-header h1 {
  padding-top: 30px;
  margin-bottom: -10px;
  padding-bottom: 0px;
  font-size: 35px;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-underline-offset: 12px;
  text-decoration-color: #5C8F8E;
}

.add-to-cart-button {
  background-color: #5C8F8E;
  color: white;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  width: 145px;
  height: 40px;
  margin-top: 15px;

}

.paintings-show h2 {
  padding-top: 30px;
  font-weight: 425;
  font-size: 25px;
  font-style: italic;
}

.paintings-show h6 {
  font-weight: 500;
  font-size: 15px;
}

.paintings-show h4 {
  position: absolute;
  margin-top: -14px;
  text-align: left;
  text-decoration-color: #5C8F8E;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
  background: none;
  font-size: 15px;
  cursor: pointer;
}

.parent-chat-container {
  padding-top: 10px;
  background-color: #ffffff !important;
  border-radius: 5px;
  border: 1px solid #000000;
  color: #000000;
}

/* ChatGPT Chat Styling */

.cs-message__content-wrapper {
  padding-top: 5px;
  padding-bottom: 10px;
}

.cs-message__content {
  background-color: #d59987;
}

.cs-message-input__content-editor-wrapper {
  background-color: #b3b2b8;
  border-radius: 5px;
}

.cs-message-input__content-editor {
  background-color: #b3b2b8;
  color: black;

}

.cs-button--send {
  color: #5C8F8E;
  
}

 .cs-message--outgoing .cs-message__content {
  background-color: #5C8F8E;
}

.cs-button:disabled {
  opacity: 1;
}

/* Category Pages Styling */

#category-impressionism h1{
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 12px;
  text-decoration-color: #5C8F8E
}

#category-surrealism h1 {
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 12px;
  text-decoration-color: #5C8F8E

}

#category-realism h1 {
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 12px;
  text-decoration-color: #5C8F8E
}

#category-abstract h1 {
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 12px;
  text-decoration-color: #5C8F8E

}

#category-impressionism .image-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

#category-impressionism .image-container:hover .overlay {
  opacity: 1;
}

#category-impressionism .image-container .text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#category-impressionism .card-body-custom {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 0;
}

#category-impressionism .card-body-custom .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#category-impressionism .card-body-custom .image-container .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#category-impressionism .card-title {
  height: 2.0em;
  font-size: 10px;
  margin-top: 7px;
  padding-top: 5px;
  margin-bottom: 25px;
}

#category-impressionism .card-artist {
  height: 2.5em;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 15px;
  font-size: 10px;
}

#category-surrealism .image-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

#category-surrealism .image-container:hover .overlay {
  opacity: 1;
}

#category-surrealism .image-container .text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#category-surrealism .card-body-custom {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 0;
}

#category-surrealism .card-body-custom .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#category-surrealism .card-body-custom .image-container .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#category-surrealism .card-title {
  height: 2.0em;
  font-size: 10px;
  margin-top: 7px;
  padding-top: 5px;
  margin-bottom: 25px;
}

#category-surrealism .card-artist {
  height: 2.5em;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 15px;
  font-size: 10px;
}

#category-realism .image-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

#category-realism .image-container:hover .overlay {
  opacity: 1;
}

#category-realism .image-container .text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#category-realism .card-body-custom {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 0;
}

#category-realism .card-body-custom .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#category-realism .card-body-custom .image-container .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#category-realism .card-title {
  height: 2.0em;
  font-size: 10px;
  margin-top: 7px;
  padding-top: 5px;
  margin-bottom: 25px;
}

#category-realism .card-artist {
  height: 2.5em;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 15px;
  font-size: 10px;
}

#category-abstract .image-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

#category-abstract .image-container:hover .overlay {
  opacity: 1;
}

#category-abstract .image-container .text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#category-abstract .card-body-custom {
  height: 100%;
  position: relative;
  width: 100%;
  padding: 0;
}

#category-abstract .card-body-custom .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#category-abstract .card-body-custom .image-container .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#category-abstract .card-title {
  height: 2.0em;
  font-size: 25px;
  margin-top: 7px;
  padding-top: 5px;
  margin-bottom: 25px;
}

#category-abstract .card-artist {
  height: 2.5em;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 15px;
  font-size: 10px;
}