@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  padding-left: 20px;
  padding-right: 20px;
}

#root {
  font-family: Palatino;
  background-image: url('./assets/papyrus.webp');
}

#paintings-index {
  margin-top: 20px;
  margin-bottom: 20px;
}

#paintings-index .card-body-custom {
  text-align: center;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  /* Increase margin-bottom */
  padding: 0;
}

#paintings-index .card-body-custom .image-container {
  height: 0;
  padding-top: 100%;
  /* Set padding-top to maintain aspect ratio */
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

#paintings-index .card-body-custom .image-container .card-image {
  position: absolute;
  top: 50%;
  /* Adjusted */
  left: 50%;
  /* Adjusted */
  transform: translate(-50%, -50%);
  padding-top: -10px;
  padding-bottom: 10px;
  /* Added */
  width: 100%;
  height: auto;
  /* Changed to auto */
  object-fit: contain;
  border-radius: 22px;
}

#paintings-index h1 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 0px;
}

#paintings-index .card-title {
  height: 2.0em;
  font-size: 20px;
  margin-top:-10px;
  padding-top: 5px;
}

#paintings-index .card-artist {
  height: 2.5em;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;
}

#paintings-index .red-button {
  background-color: rgb(255, 90, 95);
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 25px;
  width: 100px;
  position: relative;
  top: 5px;
}

.mt-4 {
  padding-top: 7px;
}

#paintings-index .card {
  height: 100%;
}

.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.custom-card .card-body-custom {
  flex-grow: 1;
}

.profile-image {
  width: auto;
  height: 40px;
  object-fit: cover;
}

.nav-bg {
  background-color: white;
  border-radius: 20px;
  width: auto;
}

.hover-item:hover {
  background-color: rgb(255, 90, 95);
  color: rgb(0, 0, 0);
}